header {
    background-color: #C7D5B4;
    padding: 10px 20px;
}

header img {
    height: 40px;
}

body {
    background-color: #faf5ef;
    font-family: 'Oswald', sans-serif;
    color: #333;
    line-height: 1.6;
}

main {
    padding-left: 30px;
    padding-right: 30px;
}

education-10{
    width: 100px;

}
.Education-img{
    text-align: center;

}

h1,
h4 {
    font-weight: 700;
    color: #2f2f2f;
}

p {
    font-size: 18px;
    margin: 15px 0;
    text-align: justify;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    border-radius: 360px;
}






.box-button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #d9d9d9;
}

.box-button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.box-button:hover::before {
    width: 9em;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-content {
    flex: 1;
    text-align: center;
    padding-right: 20px;
    /* Space between text and image */
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* Image aligned to the right */
}

.image-content img {
    width: 450px;
    /* Adapt image size */
    height: 450px;
    border-radius: 10px;
}

/* Centering the text and elements */
p {
    text-align: center;
}

h1,
h4 {
    text-align: center;
}

.image-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-content {
    text-align: center;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 360px;
}